# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Poetry / VirtualEnv ---
# Poetry crée souvent le venv ailleurs, mais s'il est local :
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Outils de Qualité & Tests ---
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/
.nox/

# --- PyCharm (JetBrains) ---
# On ignore les fichiers de conf personnels, mais on garde les configs partagées
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
# Si tu veux ignorer tout le dossier .idea (souvent plus simple au début) :
.idea/

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# --- Windows ---
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# --- Linux ---
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# --- Divers ---
*.log
